html,
body {
  background: radial-gradient(circle, rgba(241, 127, 16, 1) 0%, rgba(0, 32, 88, 1) 70%);
  color: #fff;
  font-family: "Sukhumvit Set", serif;
  font-size: 30px;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.page-content {

  header {
    padding: 20px;

    h1, h2 {
      margin: 0;
    }
  }

  main {

    .container-questions {

      ul {

        padding: 0;

        li {
          list-style: none;
          margin: 15px;

          button {
            font-size: 25px;
            padding: 10px;
            min-width: 500px;
          }
        }
      }

    }
  }
}